body{
    font-family: 'Lato';
}
/*----------------------adding tailwind css class------------------------------*/
.max-w-container{
    width: 1170px;
}
.bg-gray-transparent{
    background-color: rgba(0,0,0,0.7);
}
.leading-10{
    line-height: 1.5em !important;
}
.shadow-green-500:hover,.focus\:shadow-green-500:focus{
    box-shadow: 0 0 6px #10B981 !important;
}
.group:hover .group-hover\:top-0{
    top: 0;
}
/*----------------------header nav hover efferc------------------------------*/
header ul li{
    position: relative;
}
header ul li a:after{
    content: "";
    height: 2px;
    width: 0px;
    left: 0;
    bottom: -2px;
    position: absolute;
    background: white;
    transition-duration: .4s;
}
header ul li a:hover::after,header ul li a:focus::after,header ul li a:active::after,header .active::after{
    width: 100% !important;
}
/*----------------------Fade in down animation for section 1------------------------------*/
.in-down {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
@keyframes fadeInDown {
from {
    opacity:0;
    -webkit-transform: translatey(-250px);
    -moz-transform: translatey(-250px);
    -o-transform: translatey(-250px);
    transform: translatey(-250px);
}
to {
    opacity:1;
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -o-transform: translatey(0);
    transform: translatey(0);
}
}
/*----------------------home > news > media quary------------------------------*/
@media (min-width:992px){

    .news-timeline:before {
        background: -webkit-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9), #060807);
        background: -moz-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9), #060807);
        background: -o-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9), #060807);
        background: -ms-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9), #060807);
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9), #060807);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .timeline:before {
        background-color: #587692;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        bottom: 0;
        content: '';
        left: 50%;
        margin-left: -2px;
        position: absolute;
        top: 0;
        width: 4px;
    }
    .timeline .timeline-item:before {
        border-top: 3px solid #5a7389;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        -webkit-transition: all 0.2s linear 0s;
        -moz-transition: all 0.2s linear 0s;
        -o-transition: all 0.2s linear 0s;
        -ms-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;
        width: 82px;
        z-index: 9999999;
    }
    .timeline .timeline-item:after {
        background-color: #98adc8;
        border: 4px solid #587692;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        -webkit-transition: all 0.2s linear 0s;
        -moz-transition: all 0.2s linear 0s;
        -o-transition: all 0.2s linear 0s;
        -ms-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;
        width: 15px;
    }
    .timeline .columns>li:nth-child(2n+1) .timeline-item:after {
        right: -8px;
        top: 44px;
    }
    .timeline .columns>li:nth-child(2n+2) .timeline-item:after {
        left: -8px;
        top: 44px;
    }
    .timeline .columns>li:nth-child(2n+1) .timeline-item:before {
        right: 10px;
        top: 50px;
    }
    .timeline .columns>li:nth-child(2n+2) .timeline-item:before {
        left: 10px;
        top: 50px;
    }

}
/*----------------------home > news > hover------------------------------*/
.timeline .timeline-item:hover {
    border-color: #98adc8;
    color: #66808c;
    border-style: dotted;
    -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
  }
  .timeline .timeline-item:hover:after {
    background-color: #587692;
    border-color: #98adc8;
    z-index: 100;
  }
  .timeline .timeline-item:hover:before {
    border-top-color: #98adc8;
  }
  .timeline .timeline-item:hover h5 {
    color: #fff;
  }